.ipynb_checkpoints/
checkpoints/
src/logs/
src/ckpt/
src/old/
src/utils/utils_unused.py
src/scripts/experiments/**
src/scripts/n_samples_analysis.py
src/scripts/whichGPU.py
src/data/dataset.py
src/data/image_dataset.py
2.MoA_prediction/
notebooks/2a-Modality_Integration_CDRP_train.ipynb
notebooks/umap_analysis.ipynb
notebooks/interpret_MoAs copy.ipynb
notebooks/calc_mAP.ipynb
notebooks/shap_analysis.ipynb
**/__pycache__/
.vscode/
**/.ipynb_checkpoints/
sample_data/CellPainting/replicate_level_cp_augmented.csv
sample_data/CellPainting/replicate_level_cp_augmented.csv.gz
sample_data/CellPainting/replicate_level_cp_normalized_variable_selected.csv.gz
sample_data/CellPainting/replicate_level_cp_normalized.csv.gz
sample_data/L1000/replicate_level_l1k_QNORM.csv.gz
sample_data/L1000/replicate_level_l1k_ZSPCQNORM.csv.gz
sample_data/L1000/replicate_level_l1k.csv.gz
.vscode/launch.json

