markdown
numpy
pandas
Pillow>=9.5.0
pyyaml
tqdm
torch
torchvision
pytorch-lightning
scikit-learn
tensorboard
pycytominer
scipy==1.8.0
seaborn
matplotlib
openpyxl
shap
imbalanced-learn
optuna
matplotlib-venn